Write a program in Python to Implement multithreading. Create two threads first thread will display even no’s from 1to 50 and Second trade will display odd no from 1 to 50.

In [4]:
import threading 
def print_even():
  for i in range(2,51,2):
    print(i,end=' ')
def print_odd():
  for i in range(1,50,2):
    print(i,end=' ')

t1 = threading.Thread(target=print_even)
t2 = threading.Thread(target=print_odd)

t1.start()
t2.start()

t1.join()
t2.join()

2 4 6 8 10 12 141 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49  16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

Write a program in python to implement multithreading to create 3 threads 1 to display digits 1 to 26 ,1 to display a to z and 1 to display A to Z.

In [8]:
import threading
def print_digits():
  for i in range(1,27):
    print(i,end=' ')
def print_lowercase():
  for i in range(ord('a'),ord('z')+1):
    print(chr(i),end=' ')
def print_uppercase():
  for i in range(ord('A'),ord('Z')+1):
    print(chr(i),end=' ')

t1 = threading.Thread(target=print_digits)
t2 = threading.Thread(target=print_lowercase)
t3 = threading.Thread(target=print_uppercase)

t1.start()
t2.start()
t3.start()

t1.join()
t2.join()
t3.join()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

Write a program in Python to Implement multithreading. Create two threads first thread will display square of no’s from 1to 20 and Second trade will display cube of no from 1 to 20

In [10]:
import threading 
def print_square():
  for i in range(1,21):
    print(f"Square of {i} : {i*i}")
def print_cube():
  for i in range(1,21):
    print(f"Cube of {i} : {i*i*i}")

t1 = threading.Thread(target=print_square)
t2 = threading.Thread(target=print_cube)

t1.start()
t2.start()

t1.join()
t2.join()

Square of 1 : 1
Square of 2 : 4
Square of 3 : 9
Square of 4 : 16
Square of 5 : 25
Square of 6 : 36
Square of 7 : 49
Square of 8 : 64
Square of 9 : 81
Square of 10 : 100
Square of 11 : 121
Square of 12 : 144
Square of 13 : 169
Square of 14 : 196
Square of 15 : 225
Square of 16 : 256
Square of 17 : 289
Square of 18 : 324
Square of 19 : 361
Square of 20 : 400
Cube of 1 : 1
Cube of 2 : 8
Cube of 3 : 27
Cube of 4 : 64
Cube of 5 : 125
Cube of 6 : 216
Cube of 7 : 343
Cube of 8 : 512
Cube of 9 : 729
Cube of 10 : 1000
Cube of 11 : 1331
Cube of 12 : 1728
Cube of 13 : 2197
Cube of 14 : 2744
Cube of 15 : 3375
Cube of 16 : 4096
Cube of 17 : 4913
Cube of 18 : 5832
Cube of 19 : 6859
Cube of 20 : 8000